<section class="example-container" cdkDropListGroup>
  

    <div class="campo">
      <div class="home-players" cdkDropList cdkDropListOrientation="horizontal">
        <div class="player-card" cdkDrag>1</div>
        <!-- <div class="player-card" cdkDrag>2</div>
        <div class="player-card" cdkDrag>3</div>
        <div class="player-card" cdkDrag>4</div>
        <div class="player-card" cdkDrag>5</div>
        <div class="player-card" cdkDrag>6</div>
        <div class="player-card" cdkDrag>7</div> -->
        
      </div>
      <img alt="campo de futbol de la kings league" src="/campo.svg">
    </div>
  
  </section>
